.card {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 12px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 2rem;
}

.search {
  flex: 7 0 220px;
}

.year {
  flex: 3 0 80px;
}

.type {
  flex: 1 0 150px;
}

.btn {
  flex: 1 0 100px;
}

@media screen and (max-width: 1200px) {
  .search {
    order: 0;
  }

  .btn {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 720px) {
  .form {
    margin: 0
  }
}