.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.info strong {
  font-weight: 700;
}

.info p {
  border-top: 1px solid white;
  padding: 1rem;
}

.info p:last-child {
  border-bottom: 1px solid white;
}