.btn {
  background-color: #3C3836;
  color: white;
  padding: 0.6em 1rem;
  border-radius: 0.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all linear 200ms;
}

.btn:hover {
  background-color: #fabd2f;
  color: #32302F;
}